*.iml
.gradle/
.gradle-user/
.gradle-run/
.android-user/
.android-run/
.android-sdk/
.android-sdk-install/
.release-signing/
.user-home/
.kotlin/
/local.properties
/.idea/
/build/
/captures/
.DS_Store
app/build/
